@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel = "stylesheet" type = "text/css" href = "/CSS/DefaultStyles.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <span id="companyLogo"><img alt="company image" src="~/img/465PenandSeller.png"/> </span>
        <span id="companyName">PenandSeller.com</span><br />
        <div id="companySlogan">Prices and service so good you'll think we're magic!</div>
        <div id="headline">@RenderSection("header", required: false)</div>
    </header>
    <nav id="menu">
        <ul id="menuLinks">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About Our Company", "Index", "About")</li>
            <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
            <li>@Html.ActionLink("Inventory", "Index", "Inventory")</li>
            <li>@Html.ActionLink("Product Categories", "Index", "Categories")</li>
            <li id="contactLink">@Html.ActionLink("Contact Us", "Index", "Contact")</li>
        </ul>
    </nav>
    <div>
        @if(User.Identity.IsAuthenticated)
        {
            <div>Welcome, @User.Identity.Name</div>

            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="Logout" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
            }
        }

        @if(!User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Login","Login", "Account")
        }
    </div>
    <main>@RenderBody()</main>
    <footer>@RenderSection("footer", required: false)</footer>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.js"></script>
</body>
</html>
