@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Blog Post";
}

@model BlogPost
@{ string timeStamp = Model.Timestamp.ToString(); }

<div>
    <h1>@Html.DisplayFor(m => m.Title)</h1>
    <h2>@Html.DisplayFor(m => m.Author)</h2>
    <h3>@timeStamp</h3>
    <p>@Html.DisplayFor(m => m.Content)</p>
    <br />

    @Html.ActionLink("Blogs Home", "Index", "Blog")
</div>
