@model LongAnswerQuestion

<div>
    <h2>@Model.ID. @Model.Question</h2>
    @Html.HiddenFor(m => m.ID)
    @Html.TextAreaFor(m => m.Answer)
    <br />
    @Html.ValidationMessageFor(m => m.Answer)
</div>