@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact Page";
}
@section header{
    <p>We want to hear from you!</p>
}
@section footer{
    <p>Contact Us!</p>
} 
@model ContactModel

<h1>Contact Us</h1>
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    @Html.LabelFor(m => m.PhoneNumber)
    @Html.TextBoxFor(m => m.PhoneNumber)
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)
    @Html.LabelFor(m => m.Message)
    @Html.TextAreaFor(m => m.Message)
    <br />
    <button type="submit">Submit</button>
}
