@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Inventory";
}
@model InventoryModel

<div class="pageContent">
    <h1>Add Inventory Items</h1>
    @if (Model.categories.Count > 0)
    {
        using (Html.BeginForm("Add", "Inventory", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <span class="validation">@Html.ValidationSummary()</span>

            @Html.HiddenFor(m => m.ID)
            @Html.LabelFor(m => m.ProductName)
            @Html.EditorFor(m => m.ProductName)
            <br />
            @Html.LabelFor(m => m.ProductCode)
            @Html.EditorFor(m => m.ProductCode)
            <br />
            @Html.LabelFor(m => m.CategoryID)
            @Html.DropDownListFor(
                m => m.CategoryID, Model.categories, new { @id = "category" })
            <br />
            <p id="stickerCount" style="display:none"><label>#Stickers/Sheet</label>@Html.EditorFor(m => m.Count)</p>
            @Html.LabelFor(m => m.ProductDescription)
            @Html.EditorFor(m => m.ProductDescription)
            <br />
            @Html.LabelFor(m => m.Price)
            @Html.EditorFor(m => m.Price)
            <br />
            @Html.LabelFor(m => m.Quantity)
            @Html.EditorFor(m => m.Quantity)
            <br />
            <input type="file" name="ProductImage" />
            <br /><br />
            <button type="submit">Save Item</button>
        }
    }
    @if (Model.categories.Count() <= 0)
    {
        <h2>Need to add Categories before Inventory items</h2>
    }
</div>
@section scripts {
<script>
    $(document).ready(function () {
        $("#category").change(function () {
            if ($("#category :selected").text() == 'Stickers') {
                $("#stickerCount").show();
            }
            else {
                $("#stickerCount").hide();
            }
        });
        $("#category").change();
        $("body").click(function () {
            $("h1").toggle();
        });
        $("label").click(function () {
            $("body").find("#ProductName").css({ "background-color":"pink" });
            $("body").find("#ProductName").val("Changed Name");
        });
    });
</script>
}