@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Inventory";
}
@model InventoryModel

<h1>Edit Inventory Item</h1>
@if (Model.categories.Count > 0)
{
    Html.ValidationSummary(false);
    using (Html.BeginForm("Edit", "Inventory", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.ID)
        @Html.LabelFor(m => m.ProductName)
        @Html.EditorFor(m => m.ProductName)
    <br />
    @Html.LabelFor(m => m.ProductCode)
        @Html.EditorFor(m => m.ProductCode)
    <br />
    @Html.LabelFor(m => m.CategoryID)
        @Html.DropDownListFor(
    m => m.CategoryID,
    Model.categories)
    <br />
    @Html.LabelFor(m => m.ProductDescription)
        @Html.EditorFor(m => m.ProductDescription)
    <br />
    @Html.LabelFor(m => m.Price)
        @Html.EditorFor(m => m.Price)
    <br />
    @Html.LabelFor(m => m.Quantity)
        @Html.EditorFor(m => m.Quantity)
    <br />
    <input type="file" name="ProductImage" />
    <br /><br />
    <button type="submit">Edit Item</button>
    }
}
@if (Model.categories.Count() <= 0)
{
    <h2>Need to add Categories before Inventory items</h2>
}
